@media (min-width: map-get($grid-breakpoints, 'xs')) {
  * {
    scrollbar-width: thin;
    scrollbar-color: $appMain transparent;
  }

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $appMain;
  }

  .app {
    display: flex;
    height: 100vh;
    max-height: 100vh;

    .nav-toggle {
      align-items: center;
      background-color: transparent;
      border: 2px solid #049478;
      box-shadow: none;
      outline: 0;
      display: flex;
      flex-direction: column;
      height: 40px;
      padding: 8px;
      width: 50px;
      justify-content: space-between;

      &::before,
      &::after,
      .line {
        content: '';
        display: block;
        background-color: #049478;
        width: 100%;
        height: 2px;
      }
    }

    .sidebar {
      &.left {
        display: flex;
        flex-direction: column;
        // background-image: $appGradient;
        width: 0;
        max-width: 250px;
        height: 100%;
        box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.25);
        transition: width 0.1s ease-in-out;
        position: absolute;
        background-color: #ffffff;
        z-index: 2;
        overflow: auto;

        &.show {
          width: 100%;
        }

        .logo {
          font-size: 25px;
          text-align: center;
          margin: 10px 0;
        }

        .list {
          .nav-link {
            align-items: center;
            color: #4d6276;
            display: flex;
            height: 50px;
            padding-left: 56px;
            position: relative;

            &:hover,
            &.active {
              color: #049478;
              font-weight: 600;

              &::before {
                content: '';
                border-radius: 0 12px 12px 0;
                border-right: 3px solid #049478;
                display: block;
                width: 0;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
              }

              i {
                &.lmsi {
                  font-weight: 600;
                }
              }
            }

            i {
              margin-right: 20px;
            }
          }
        }

        .user-profile {
          background: #ffffff;
          box-shadow: 0px 10px 44px rgba(108, 126, 147, 0.15);
          border-radius: 6px;
          margin: auto;
          margin-bottom: 20px;
          padding: 10px 20px;
          .img {
            width: 42px;
            height: 42px;
            background: #c4c4c4;
            border-radius: 50%;
          }

          h5 {
            font-size: 16px;
            margin-bottom: 13px;
          }

          p {
            font-size: 12px;
            margin-bottom: 5px;
          }

          .logout-button {
            background: transparent;
            border: none;
            font-size: 14px;
            color: #049478;
          }

          .send-invite {
            .btn-app {
              font-size: 14px;
              padding: 5px 25px;
            }
          }
        }
      }
    }

    .overlay {
      &.show {
        background-color: rgba(0, 0, 0, 0.25);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
      }
    }

    header {
      .navbar {
        height: 56px;
      }
    }

    main {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: 100%;

      .content {
        flex-grow: 1;
        background: $gray-150;
        overflow: auto;
      }
    }

    .dropzone {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border-width: 2px;
      border-radius: 2px;
      border-color: #212529;
      border-style: dashed;
      background-color: #fafafa;
      justify-content: center;
      color: #212529;
      outline: none;
      text-align: center;
      transition: border 0.24s ease-in-out;

      &.avatar {
        width: 128px;
        height: 128px;
      }

      p {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }

    .dropzone:focus {
      border-color: #2196f3;
    }

    .dropzone.disabled {
      opacity: 0.6;
    }
  }
}
@media (min-width: map-get($grid-breakpoints, 'sm')) {
}
@media (min-width: map-get($grid-breakpoints, 'md')) {
}
@media (min-width: map-get($grid-breakpoints, 'lg')) {
  .app {
    .sidebar {
      &.left {
        position: initial;
        width: 100%;
      }
    }
  }
}
@media (min-width: map-get($grid-breakpoints, 'xl')) {
}
@media (min-width: map-get($grid-breakpoints, 'xxl')) {
}
