@media (min-width: map-get($grid-breakpoints, 'xs')) {
  .app {
    display: flex;
    height: 100vh;
    max-height: 100vh;

    .sidebar {
      &.left {
        display: flex;
        flex-direction: column;
        // background-image: $appGradient;
        width: 100%;
        max-width: 250px;
        height: 100%;
        box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.25);

        .logo {
          font-size: 25px;
          text-align: center;
          margin: 30px 0;
        }

        .list {
          .nav-link {
            display: flex;
            margin-left: 40px;

            &.nav-link:hover {
              color: #000;
            }

            i {
              margin-right: 20px;
            }
          }
        }

        .logout-button {
          background: transparent;
          border: none;
          margin-top: auto;
          margin-left: -40px;
          margin-bottom: 20px;
        }
      }
    }

    main {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: 100%;

      .content {
        flex-grow: 1;
        padding: 0 24px;
        background: $gray-150;
        overflow: auto;
      }
    }

    .dropzone {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border-width: 2px;
      border-radius: 2px;
      border-color: #212529;
      border-style: dashed;
      background-color: #fafafa;
      justify-content: center;
      color: #212529;
      outline: none;
      text-align: center;
      transition: border 0.24s ease-in-out;

      &.avatar {
        width: 128px;
        height: 128px;
      }

      p {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }

    .dropzone:focus {
      border-color: #2196f3;
    }

    .dropzone.disabled {
      opacity: 0.6;
    }
  }
}
@media (min-width: map-get($grid-breakpoints, 'sm')) {
}
@media (min-width: map-get($grid-breakpoints, 'md')) {
}
@media (min-width: map-get($grid-breakpoints, 'lg')) {
}
@media (min-width: map-get($grid-breakpoints, 'xl')) {
}
@media (min-width: map-get($grid-breakpoints, 'xxl')) {
}
