@media (min-width: map-get($grid-breakpoints, 'xs')) {
  .app-sidebar {
    background-color: $appGradient;
    width: 100%;
    max-width: 250px;
  }
}
@media (min-width: map-get($grid-breakpoints, 'sm')) {
}
@media (min-width: map-get($grid-breakpoints, 'md')) {
}
@media (min-width: map-get($grid-breakpoints, 'lg')) {
}
@media (min-width: map-get($grid-breakpoints, 'xl')) {
}
@media (min-width: map-get($grid-breakpoints, 'xxl')) {
}
