body {
  background-color: #f8f8f8;
}

.user-main {
  margin: 90px 50px 30px 150px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.separator {
  border-bottom: 1px solid #d7d7d7;
}

.invite-btn {
  border: none;
  background-color: #145388;
  color: white;
  padding: 5px 20px;
  border-radius: 50px;
}

.invite-btn:hover {
  background-color: darkblue;
}

.card {
  border-radius: 0.75rem;
  border: initial;
  background: #fff;
  box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.card .card-body {
  padding: 1.75rem;
  flex: 1 1 auto;
}

.card .card-body .card-title {
  margin-bottom: 2rem;
}

.card .card-body .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.card .card-body .input-group input {
  flex: 1 1 auto;
  /* width: 1%; */
}
