@media (min-width: map-get($grid-breakpoints, 'xs')) {
  .invite-user {
    margin: 40px 50px 30px 150px;

    .mb-2 {
      margin-bottom: 0.5rem !important;

      .icon {
        color: #3a3a3a;
        margin-right: 15px;
      }

      .invite-btn {
        border: none;
        background-color: #145388;
        color: white;
        padding: 5px 20px;
        border-radius: 50px;
      }

      .invite-btn:hover {
        background-color: darkblue;
      }
    }

    .separator {
      border-bottom: 1px solid #d7d7d7;

      &.mb-5 {
        margin-bottom: 2rem !important;
      }
    }

    .card {
      border-radius: 0.75rem;
      border: initial;
      background: #fff;
      box-shadow: 0 1px 15px rgba(180, 180, 180, 0.6),
        0 1px 6px rgba(180, 180, 180, 0.6);
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;

      .card-body {
        padding: 1.75rem;
        flex: 1 1 auto;

        .card-title {
          margin-bottom: 2rem;
        }

        .input-group {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          align-items: stretch;
          width: 100%;

          input {
            flex: 1 1 auto;
            /* width: 1%; */
          }
        }
      }
    }
  }
}
@media (min-width: map-get($grid-breakpoints, 'sm')) {
}
@media (min-width: map-get($grid-breakpoints, 'md')) {
}
@media (min-width: map-get($grid-breakpoints, 'lg')) {
}
@media (min-width: map-get($grid-breakpoints, 'xl')) {
}
@media (min-width: map-get($grid-breakpoints, 'xxl')) {
}
