@media (min-width: map-get($grid-breakpoints, 'xs')) {
  .navbar {
    height: 90px;
    background-color: #ffffff;
    padding: 1.5rem 0;
    box-shadow: 0 1px 15px rgba(180, 180, 180, 0.6),
      0 1px 6px rgba(180, 180, 180, 0.6);

    .navbar-left {
      flex-basis: 80%;
      background-color: #ffffff;

      .menu-button {
        width: 80px;
        color: #8f8f8f;
        text-align: center;
        cursor: pointer;

        svg {
          height: 12px;
        }

        .main {
          fill: #3a3a3a;
          transition: fill 300ms;
          width: 10px;
        }
      }

      .menu-button-mobile {
        color: #8f8f8f;
        text-align: center;
        margin-left: 15px;

        svg {
          height: 12px;
          fill: #3a3a3a;
        }
      }

      .logo {
        background-color: #ffffff;
        text-decoration: none;

        p {
          margin: 0;
          font-weight: 700;
          margin-right: 20px;
        }
      }

      .search {
        position: relative;
        width: 230px;
        border-radius: 20px;
        background: #f8f8f8;

        input {
          border: medium none currentColor;
          border: initial;
          background: transparent;
          outline: medium none invert !important;
          outline: initial !important;
          padding: 0.5rem 1rem;
          line-height: 1.75;
          font-size: 0.8rem;
          width: 93%;
          color: #3a3a3a;
        }
      }

      .nav-item {
        background-color: #ffffff;
        text-decoration: none;

        p {
          margin: 0;
          font-weight: 700;
          margin: 0px 20px;
        }
      }
    }

    .navbar-right {
      .icon {
        font-size: 30px;
        color: #007bff;
        margin-right: 20px;
      }
    }
  }
}
@media (min-width: map-get($grid-breakpoints, 'sm')) {
}
@media (min-width: map-get($grid-breakpoints, 'md')) {
}
@media (min-width: map-get($grid-breakpoints, 'lg')) {
}
@media (min-width: map-get($grid-breakpoints, 'xl')) {
}
@media (min-width: map-get($grid-breakpoints, 'xxl')) {
}
