@media (min-width: map-get($grid-breakpoints, 'xs')) {
  .sidebar {
    padding-top: 90px;
    height: calc(100% - 90px);
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 4;
    transition: border-radius 300ms;

    .main-menu {
      border-radius: 0 0.75rem 0.75rem 0;
      width: 110px;
      height: calc(100% - 90px);
      background: white;
      z-index: 3;
      position: fixed;
      transition: transform 300ms, -webkit-transform 300ms;
      padding-top: 10px;
      padding-bottom: 10px;
      left: 0;
      box-shadow: 0 1px 15px rgba(180, 180, 180, 0.6),
        0 1px 6px rgba(180, 180, 180, 0.6);

      .scroll {
        padding-right: unset;
        margin-right: unset;
        height: 100%;

        .scrollbar-container {
          ul {
            li {
              position: relative;

              .active_class {
                color: #922c88;
              }

              a {
                height: 110px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                border-bottom: 1px solid #d7d7d7;
                color: #3a3a3a;
                transition: background 300ms;
                text-decoration: none;
              }
            }
          }

          margin-right: 0;
          padding-right: 0;
          position: relative;
          height: 100%;

          &.ps {
            overflow: hidden !important;
            overflow-anchor: none;
            touch-action: auto;
          }
        }
      }
    }
  }
}
@media (min-width: map-get($grid-breakpoints, 'sm')) {
}
@media (min-width: map-get($grid-breakpoints, 'md')) {
}
@media (min-width: map-get($grid-breakpoints, 'lg')) {
}
@media (min-width: map-get($grid-breakpoints, 'xl')) {
}
@media (min-width: map-get($grid-breakpoints, 'xxl')) {
}
