@media (min-width: map-get($grid-breakpoints, 'xs')) {
  .slots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h3 {
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      text-transform: capitalize;
      color: #000000;
    }

    p {
      max-width: 480px;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #000000;
    }
  }
  .slot-card {
    .rbc-events-container {
      border-color: #f2f4f8;
    }

    .rbc-events-container,
    .rbc-row-content {
      cursor: pointer;
    }

    .rbc-time-view {
      background-color: #f2f4f8;
      border-color: #f2f4f8;
    }

    .rbc-time-header {
      border-color: #f2f4f8;

      .rbc-time-header-content {
        border-color: #f2f4f8;

        .rbc-time-header-cell {
          height: 80px;

          .rbc-header {
            align-items: center;
            border-bottom: none;
            border-color: #f2f4f8;
            display: flex;
            height: 100%;
            justify-content: center;

            &.rbc-today {
              background-color: initial;

              a {
                color: #049478;
              }
            }

            a {
              span {
                font-size: 20px;
                display: inline-block;
                white-space: break-spaces;
              }
            }

            &:nth-child(1) {
              a {
                span {
                  max-width: 70px;
                }
              }
            }

            &:nth-child(2) {
              a {
                span {
                  max-width: 75px;
                }
              }
            }

            &:nth-child(3) {
              a {
                span {
                  max-width: 80px;
                }
              }
            }

            &:nth-child(4) {
              a {
                span {
                  max-width: 110px;
                }
              }
            }

            &:nth-child(5) {
              a {
                span {
                  max-width: 95px;
                }
              }
            }

            &:nth-child(6) {
              a {
                span {
                  max-width: 80px;
                }
              }
            }

            &:nth-child(7) {
              a {
                span {
                  max-width: 90px;
                }
              }
            }
          }
        }

        .rbc-allday-cell {
          display: none;
        }
      }
    }

    .rbc-time-content {
      background-color: #ffffff;
      border-color: #f2f4f8;

      .rbc-today {
        background-color: initial;
      }

      .rbc-time-column {
        &:first-child {
          .rbc-timeslot-group {
            border-bottom: none;

            &:first-child {
              .rbc-time-slot {
                .rbc-label {
                  display: none;
                }
              }
            }

            .rbc-time-slot {
              .rbc-label {
                display: inline-block;
                transform: translateY(-50%);
              }
            }
          }
        }
      }

      .rbc-timeslot-group {
        border-color: #f2f4f8;
        min-height: 56px;
      }
    }

    .rbc-day-slot {
      .rbc-event {
        &::before {
          content: '';
        }

        .rbc-event-content {
          align-items: center;
          display: flex;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
}
@media (min-width: map-get($grid-breakpoints, 'sm')) {
}
@media (min-width: map-get($grid-breakpoints, 'md')) {
}
@media (min-width: map-get($grid-breakpoints, 'lg')) {
}
@media (min-width: map-get($grid-breakpoints, 'xl')) {
}
@media (min-width: map-get($grid-breakpoints, 'xxl')) {
}
